<div class="quest-log {{style}}">
  <nav class="log-tabs tabs {{style}}" data-group="primary">
    <a class="item" data-tab="available">{{localize 'TyphonJSQuestLog.QuestLog.Tabs.Available'}}</a>
    <a class="item" data-tab="active">{{localize 'TyphonJSQuestLog.QuestLog.Tabs.InProgress'}}</a>
    <a class="item" data-tab="completed">{{localize 'TyphonJSQuestLog.QuestLog.Tabs.Completed'}}</a>
    <a class="item" data-tab="failed">{{localize 'TyphonJSQuestLog.QuestLog.Tabs.Failed'}}</a>
    {{#if (or isGM isTrustedPlayerEdit)}}
      <a class="item" data-tab="inactive">{{localize 'TyphonJSQuestLog.QuestLog.Tabs.InActive'}}</a>
    {{/if}}
  </nav>
  <section class="log-body {{style}}">
    <div class="tab available" data-group="primary" data-tab="available">
      {{> "modules/typhonjs-quest-log/templates/partials/quest-log/tab.html" tab="available" quests=quests.available}}
    </div>
    <div class="tab active" data-group="primary" data-tab="active">
      {{> "modules/typhonjs-quest-log/templates/partials/quest-log/tab.html" tab="active" quests=quests.active}}
    </div>
    <div class="tab completed" data-group="primary" data-tab="completed">
      {{> "modules/typhonjs-quest-log/templates/partials/quest-log/tab.html" tab="completed" quests=quests.completed}}
    </div>
    <div class="tab failed" data-group="primary" data-tab="failed">
      {{> "modules/typhonjs-quest-log/templates/partials/quest-log/tab.html" tab="failed" quests=quests.failed}}
    </div>
    {{#if (or isGM isTrustedPlayerEdit)}}
      <div class="tab inactive" data-group="primary" data-tab="inactive">
        {{> "modules/typhonjs-quest-log/templates/partials/quest-log/tab.html" tab="inactive" quests=quests.inactive}}
      </div>
    {{/if}}
  </section>
</div>